body {
  background-color: aliceblue;
  background-image: url(http://www.transparenttextures.com/patterns/diamond-upholstery.png);
  /* background-image: url(http://www.transparenttextures.com/patterns/shattered-dark.png); */
}

.App {
  text-align: center;
  width: 45%;
  margin: 0 auto;
  margin-top: 100px;
  animation: fadeEffect 1s;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  margin-bottom: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  height: 93vh;
}

.form {
  padding: 10px;
  margin: 13px 10px;
  border-radius: 8px;
  width: 500px;
  box-sizing: border-box;
  font-size: .7em;
}

.reveal-btn {
  margin-top: 5em;
}

.btn {
  background-color: black;
  border: 3px solid black;
  color: #61dafb;
  font-size: .8em;
}

.btn:hover {
  border: 3px solid #61dafb;
}

*:focus {
  outline: none;
}

.loading-icon {
  height: 40px;
}

.etherscan-link:visited, .etherscan-link:hover, .etherscan-link {
  color: black;
  text-decoration: none;
}