table {
  margin: 0 auto;
  border-style: hidden;
  border-collapse: separate;
  border-spacing: 0 10px;
}

input:disabled {
  background-color: gray;
  color: black;
  border: 3px solid gray;
}

input:disabled:hover {
  background-color: gray;
  color: black;
  border: 3px solid gray;
}

.data {
  font-size: 15px;
  font-family: "Courier New";
  text-align: left;
}

.w-form-1 {
  padding: 10px;
  margin: 10px 0 10px 10px;
  border-radius: 8px;
  width: 500px;
  box-sizing: border-box;
  font-size: .6em;
}

.w-form-2 {
  padding: 10px;
  margin: 10px 0 10px 10px;
  border-radius: 8px 0 0 8px;
  width: 410px;
  box-sizing: border-box;
  font-size: .6em;
}

.w-btn {
  background-color: black;
  border: 3px solid black;
  color: #61dafb;
  font-size: .8em;
}

.w-btn:hover {
  border: 3px solid #61dafb;
}

.fillInAddrBtn {
  height: 41px;
  text-align: center;
  margin-top: 10px;
  /* padding: 0 5px; */
  background-color: black;
  color: #61dafb;
  font-size: .7em;
  border-radius: 0 8px 8px 0;
  width: 90px;
  border: 1px solid #61dafb;
}

.fillInAddrBtn:hover {
  background-color: #61dafb;
  color: black;
  animation: fadeEffect .5s;
}

.table-left {
  background-color: black;
  color: #61dafb;
  border-radius: 8px 0 0 8px;
  text-align: left;
  font-size: 18px;
  padding: 10px;
}

.table-right {
  background-color: black;
  color: #61dafb;
  border-radius: 0 8px 8px 0;
  text-align: left;
  padding: 0 5px;
}

th {
  background-color: black;
  color: #61dafb;
  border-radius: 8px;
  text-align: left;
  padding: 10px;
}

.qr-code {
  margin-top: 50px;
  margin-bottom: 200px;
}

.withdraw-form {
  margin-bottom: 33px;
  margin-top: 30px;
}

.table-container {
  background-color: black;
  border-radius: 8px;
  margin-bottom: 200px;
  margin-top: 80px;
  padding: 50px;
  animation: fadeEffect 1s;
}

.home-header {
  color: #61dafb;
  padding-top: 20px;
  text-align: center;
}

.withdraw-header {
  color: #61dafb;
  padding-top: 20px;
  text-align: center;
}

#general {
  height: 255px;
}

.general-table {
  margin: 10px 0 0 0;
}

.loading-icon-load-existing-page {
  margin: auto;
  margin-top: 50px;
  height: 40px;
}


.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.adr {
  width: 180px;
}